__pycache__/
.vscode/
mshoot.egg-info/
examples/out/
.spyproject/
iterate.dat
examples/out/
.ipynb_checkpoints/
dist/
build/
*.pyc
*.log
*_log.txt
*_result.txt
status
success
volta/
*.mat

# Scripts fetching data from SDU's internal databases
fetch_from_volta.py